@model IEnumerable<SIMLovers.Models.Product.ProductIndexVM>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p>
    <a asp-action="Create" style="color:black; text-decoration:none;">Create New</a>
</p>

<form asp-controller="Product" asp-action="Index" method="get">
    <p>
        Brand: <input type="text" name="SearchStringBrandName" />
        Category: <input type="text" name="SearchStringCategoryName" />
        <input type="submit" value="Filter" />
    </p>
</form>
<div style="display:flex; flex-direction:row;max-width: 650px;">
        @foreach (var item in Model)
        {
        <a asp-action="Details" asp-route-id="@item.Id" style="color:black;text-decoration:none;">
            <div class="card" style="color:black;text-decoration:none;flex:1;">
                    <img class="card img top" src="@item.Picture" alt="pic" style="max-width:100px;margin:auto;border:none">
                    <div class="card-body text-center">
                        <h4>@item.BrandName</h4>
                        <h6>@item.ProductName</h6>
                        <h6>Price: <b>@item.Price</b></h6>

                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>


                    </div>
                </div>
            </a>
        }
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}